h1{
  font-size: 40px;
  color: #802019;
}
h2{
  font-size: 40px;
  color: #802019;
}
h3{
  font-size: 40px;
  color: #802019;
}
img {
  border: 5px solid #d1473d;
}

p{
  color: #d1473d;
  font-size: 30px;
  padding-left:250px;
  padding-right: 250px;

}

#list{
  text-align:left;
  color: #e06158;
  font-size: 30px;
  padding-left:500px;
  padding-right: 250px;
}

div{
  text-align: center;

}
